<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <div class="sidebar">
        <div class="logo-details">
          <p class="logo_name">Vintage</p>
        </div>
          <ul class="nav-links">
            <li>
                <a href="/" class="active">
                  <i class='bx bx-grid-alt' ></i>
                  <span class="links_name">Home</span>
                </a>
              </li>
            <li>
              <a href="#">
                <i class='bx bx-list-ul' ></i>
                <span class="links_name">Mi Perfil</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bx-book-alt' ></i>
                <span class="links_name">Mis compras</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bx-message' ></i>
                <span class="links_name">Mensajes</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bx-heart' ></i>
                <span class="links_name">Favoritos</span>
              </a>
            </li>
            <li class="log_out">
              <a href="/users/logout">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
              </a>
            </li>
          </ul>
      </div>
      <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard"></span>
          </div>
          <div class="profile-details">
            <a href="/users/profile"><img src="/img/imageUser/<%= user.profilePicture %>" alt=""></a>
            <span class="admin_name"><%= user.firstName %></span>
          </div>
        </nav>
    
        <div class="home-content">
          <div class="overview-boxes">
              <h1 style="color: black;">Hola <%= user.firstName %></h1>
              
          </div>          
        </div>
      </section>


</body>
</html>