<footer>
    <div class="footer">
        <div class="footer-content">

            <div class="footer-section about">
                <h5 class="logo-text"><span>Vin</span>tage</h5>
                <p>
                    Vintage es un E-comerce hecho para un propósito el de probarnos a nosotros, que podemos y sabemos programar, y hacemos un llamado para que nos puedan ver.
                </p>
                <div class="contact">
                    <span><i class="fas fa-phone"></i> &nbsp; +51 11-3456-354</span>
                    <span><i class="fas fa-envelope"></i> &nbsp; info@vintage.com</span>
                </div>
                <div class="socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="footer-section links">
                <h2>Enlaces Rápidos</h2>
                <br>
                <ul>
                    <a href="#">
                        <li>Eventos</li>
                    </a>
                    <a href="#">
                        <li>Colaboradores</li>
                    </a>
                    <a href="#">
                        <li>Devoluciones</li>
                    </a>
                    <a href="#">
                        <li>Forma de pago</li>
                    </a>
                    <a href="#">
                        <li>Términos y Condiciones</li>
                    </a>
                </ul>
            </div>

            <div class="footer-section contact-form">
                <h2>Contactános</h2>
                <br>
                <form action="#" method="GET">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Tu Direccion de E-mail...">
                    <textarea rows="4" name="message" class="text-input contact-input" placeholder="Tu Mensaje..."></textarea>
                    <button type="submit" class="btn-footer btn-big contact-btn">
    <i class="fas fa-envelope"></i>
    Enviar
  </button>
                </form>
            </div>

        </div>

        <div class="footer-bottom">
            &copy; Vintage.com | Derechos Reservados
        </div>
    </div>
</footer>